In [7]:
import numpy as np
import pandas as pd

# YOUR CODE HERE (OPTION) 
# If you need other libraries, you can import them here
import matplotlib.pyplot as plt

In [8]:
# YOUR CODE HERE
file_path = "../data/raw/rental_housing_in_HCM_city.csv"
df = pd.read_csv(file_path)

In [9]:
df.head()

,Giá,Diện tích,Số phòng ngủ,Số toilet,Hướng nhà,Địa chỉ nhà,Ngày đăng tin,Ngày hết hạn,Mã tin,Quận,Đường,Lượt xem
0,6.5 Triệu/Tháng,14 m²,0 PN,0,---,"Địa chỉ: Dự án The Prince Residence, Đường Ng...",23/06/2023,08/07/2023,9122,Quận Phú Nhuận,Đường Nguyễn Văn Trỗi,Lượt xem: 35
1,8 Triệu/Tháng,68 m²,2 PN,2,---,"Địa chỉ: Dự án Q7 Saigon Riverside, Đường Đào...",16/06/2023,01/07/2023,8478,Quận 7,Đường Đào Trí,Lượt xem: 74
2,1.3 Triệu/Tháng,30 m²,0 PN,0,---,"Địa chỉ: Đường D5, Phường 25, Bình Thạnh, Hồ ...",07/08/2023,22/08/2023,11591,Quận Bình Thạnh,Đường D5,Lượt xem: 88
3,10 Triệu/Tháng,80 m²,2 PN,2,---,"Địa chỉ: Đường Tạ Quang Bửu, Phường 6, Quận 8...",16/06/2023,01/07/2023,8580,Quận 8,Đường Tạ Quang Bửu,Lượt xem: 48
4,35 Triệu/Tháng,120 m²,5 PN,4,---,"Địa chỉ: 178A Đường Phan Đăng Lưu, Phường 3, ...",16/03/2023,31/03/2023,4467,Quận Phú Nhuận,Đường Phan Đăng Lưu,Lượt xem: 30

In [10]:
# YOUR CODE HERE
shape = None 
shape = df.shape
print("- Số dòng:", shape[0])
print("- Số cột:", shape[1])

- Số dòng: 14890
- Số cột: 12

In [11]:
print(f"- Shape của dataframe: {shape}")

if shape[0] > 1000:
    print(f"- Data tốt.")
else:
    print(f"- Data nhỏ.")

- Shape của dataframe: (14890, 12)
- Data tốt.

### Mỗi dòng có ý nghĩa gì? Có vấn đề gì nếu các dòng có ý nghĩa khác nhau?

- Mỗi dòng trong bộ dữ liệu là thông tin về một căn nhà cho thuê riêng biệt ở TP. Hồ Chí Minh, bao gồm giá, diện tích, và địa chỉ. Sự khác biệt giữa các dòng là quan trọng vì nó phản ánh sự đa dạng của thị trường cho thuê nhà.

### **Check các dòng trùng lặp**

In [12]:
num_duplicated_rows = None
# Kiểm tra các dòng trùng lặp
num_duplicated_rows = df.duplicated().sum()

In [13]:
if num_duplicated_rows == 0:
    print(f"- Data không có dòng trùng lặp.")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"- Data có {num_duplicated_rows} {ext} trùng lặp.")

- Data không có dòng trùng lặp.

### Mỗi cột có ý nghĩa gì?

- **Giá:** Giá thuê hàng tháng.
- **Diện tích:** Diện tích của bất động sản cho thuê, tính bằng mét vuông.
- **Số phòng ngủ:** Số lượng phòng ngủ trong bất động sản.
- **Số toilet:** Số lượng nhà vệ sinh trong bất động sản.
- **Hướng nhà:** Hướng của ngôi nhà.
- **Địa chỉ nhà:** Địa chỉ của bất động sản.
- **Ngày đăng tin:** Ngày tin đăng được đăng.
- **Ngày hết hạn:** Ngày hết hạn của tin đăng.
- **Mã tin:** Mã định danh duy nhất của tin đăng.
- **Quận:** Quận nơi bất động sản tọa lạc.
- **Đường:** Đường nơi bất động sản tọa lạc.
- **Lượt xem:** Số lượt xem của tin đăng.

## **Check xem data có bao nhiêu giá trị bị thiếu?**

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14890 entries, 0 to 14889
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Giá            14890 non-null  object
 1   Diện tích      14890 non-null  object
 2   Số phòng ngủ   14890 non-null  object
 3   Số toilet      14890 non-null  int64
 4   Hướng nhà      14890 non-null  object
 5   Địa chỉ nhà    14890 non-null  object
 6   Ngày đăng tin  14890 non-null  object
 7   Ngày hết hạn   14890 non-null  object
 8   Mã tin         14890 non-null  int64
 9   Quận           14890 non-null  object
 10  Đường          14854 non-null  object
 11  Lượt xem       14890 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.4+ MB

### **Loại của các cột**

In [15]:
dtypes = None
dtypes = df.dtypes
dtypes

Giá              object
Diện tích        object
Số phòng ngủ     object
Số toilet         int64
Hướng nhà        object
Địa chỉ nhà      object
Ngày đăng tin    object
Ngày hết hạn     object
Mã tin            int64
Quận             object
Đường            object
Lượt xem         object
dtype: object


### **Xử lý các kiểu giá trị của bộ data theo mong muốn**

In [16]:
# Giữ lại số 
df['Giá'] = df['Giá'].str.extract('(\d+\.*\d*)').astype(float)

# Giữ lại số
df['Diện tích'] = df['Diện tích'].str.extract('(\d+\.*\d*)').astype(float)

# Giữ lại số
df['Số phòng ngủ'] = df['Số phòng ngủ'].str.extract('(\d+)').astype(int)

# Xoá chữ Địa chỉ:  và giữ lại phần còn lại
df['Địa chỉ nhà'] = df['Địa chỉ nhà'].str.replace('Địa chỉ:\s+', '', regex=True)

# Giữ lại số
df['Lượt xem'] = df['Lượt xem'].str.extract('(\d+)').astype(int)

In [17]:
# Đổi kiểu dữ liệu của các cột ngày tháng sang datetime
df['Ngày đăng tin'] = pd.to_datetime(df['Ngày đăng tin'], format='%d/%m/%Y')
df['Ngày hết hạn'] = pd.to_datetime(df['Ngày hết hạn'], format='%d/%m/%Y')

In [18]:
df.dtypes

Giá                     float64
Diện tích               float64
Số phòng ngủ              int64
Số toilet                 int64
Hướng nhà                object
Địa chỉ nhà              object
Ngày đăng tin    datetime64[ns]
Ngày hết hạn     datetime64[ns]
Mã tin                    int64
Quận                     object
Đường                    object
Lượt xem                  int64
dtype: object

In [19]:
df.head()

,Giá,Diện tích,Số phòng ngủ,Số toilet,Hướng nhà,Địa chỉ nhà,Ngày đăng tin,Ngày hết hạn,Mã tin,Quận,Đường,Lượt xem
0,6.5,14.0,0,0,---,"Dự án The Prince Residence, Đường Nguyễn Văn T...",2023-06-23,2023-07-08,9122,Quận Phú Nhuận,Đường Nguyễn Văn Trỗi,35
1,8.0,68.0,2,2,---,"Dự án Q7 Saigon Riverside, Đường Đào Trí, Phườ...",2023-06-16,2023-07-01,8478,Quận 7,Đường Đào Trí,74
2,1.3,30.0,0,0,---,"Đường D5, Phường 25, Bình Thạnh, Hồ Chí Minh",2023-08-07,2023-08-22,11591,Quận Bình Thạnh,Đường D5,88
3,10.0,80.0,2,2,---,"Đường Tạ Quang Bửu, Phường 6, Quận 8, Hồ Chí Minh",2023-06-16,2023-07-01,8580,Quận 8,Đường Tạ Quang Bửu,48
4,35.0,120.0,5,4,---,"178A Đường Phan Đăng Lưu, Phường 3, Phú Nhuận,...",2023-03-16,2023-03-31,4467,Quận Phú Nhuận,Đường Phan Đăng Lưu,30

### **Fill data**

In [20]:
# Cột Hướng nhà nếu --- thì đổi thành None
df['Hướng nhà'] = df['Hướng nhà'].replace('---', None)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14890 entries, 0 to 14889
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Giá            14890 non-null  float64
 1   Diện tích      14890 non-null  float64
 2   Số phòng ngủ   14890 non-null  int64
 3   Số toilet      14890 non-null  int64
 4   Hướng nhà      442 non-null    object
 5   Địa chỉ nhà    14890 non-null  object
 6   Ngày đăng tin  14890 non-null  datetime64[ns]
 7   Ngày hết hạn   14890 non-null  datetime64[ns]
 8   Mã tin         14890 non-null  int64
 9   Quận           14890 non-null  object
 10  Đường          14854 non-null  object
 11  Lượt xem       14890 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(4)
memory usage: 1.4+ MB

### **Xử lý các giá trị bị thiếu**
- **Drop đi các cột có tỷ lệ thiếu > 50%**

In [22]:
# YOUR CODE HERE
# Hàm drop các cột có tỷ lệ thiếu > 50%
def drop_cols(df):
    # Tính tỷ lệ thiếu
    missing_ratios = df.isnull().mean()
    
    # Lấy tên các cột có tỷ lệ thiếu > 50%
    missing_cols = missing_ratios[missing_ratios > 0.5].index
    
    # Xóa các cột
    df = df.drop(columns=missing_cols)
    
    return df

# YOUR CODE HERE
df = drop_cols(df)
print(f"- Số dòng: {df.shape[0]}")
print(f"- Số cột: {df.shape[1]}")
df.head()

- Số dòng: 14890
- Số cột: 11

,Giá,Diện tích,Số phòng ngủ,Số toilet,Địa chỉ nhà,Ngày đăng tin,Ngày hết hạn,Mã tin,Quận,Đường,Lượt xem
0,6.5,14.0,0,0,"Dự án The Prince Residence, Đường Nguyễn Văn T...",2023-06-23,2023-07-08,9122,Quận Phú Nhuận,Đường Nguyễn Văn Trỗi,35
1,8.0,68.0,2,2,"Dự án Q7 Saigon Riverside, Đường Đào Trí, Phườ...",2023-06-16,2023-07-01,8478,Quận 7,Đường Đào Trí,74
2,1.3,30.0,0,0,"Đường D5, Phường 25, Bình Thạnh, Hồ Chí Minh",2023-08-07,2023-08-22,11591,Quận Bình Thạnh,Đường D5,88
3,10.0,80.0,2,2,"Đường Tạ Quang Bửu, Phường 6, Quận 8, Hồ Chí Minh",2023-06-16,2023-07-01,8580,Quận 8,Đường Tạ Quang Bửu,48
4,35.0,120.0,5,4,"178A Đường Phan Đăng Lưu, Phường 3, Phú Nhuận,...",2023-03-16,2023-03-31,4467,Quận Phú Nhuận,Đường Phan Đăng Lưu,30

- **Drop các dòng bị thiếu tên đường**

In [23]:
# YOUR CODE HERE
# Hàm drop các dòng có giá trị Đường null
def drop_rows(df):
    # Lấy các dòng có giá trị Đường null
    missing_rows = df[df['Đường'].isnull()].index
    
    # Xóa các dòng
    df = df.drop(index=missing_rows)
    
    return df

df = drop_rows(df)
df.head()

,Giá,Diện tích,Số phòng ngủ,Số toilet,Địa chỉ nhà,Ngày đăng tin,Ngày hết hạn,Mã tin,Quận,Đường,Lượt xem
0,6.5,14.0,0,0,"Dự án The Prince Residence, Đường Nguyễn Văn T...",2023-06-23,2023-07-08,9122,Quận Phú Nhuận,Đường Nguyễn Văn Trỗi,35
1,8.0,68.0,2,2,"Dự án Q7 Saigon Riverside, Đường Đào Trí, Phườ...",2023-06-16,2023-07-01,8478,Quận 7,Đường Đào Trí,74
2,1.3,30.0,0,0,"Đường D5, Phường 25, Bình Thạnh, Hồ Chí Minh",2023-08-07,2023-08-22,11591,Quận Bình Thạnh,Đường D5,88
3,10.0,80.0,2,2,"Đường Tạ Quang Bửu, Phường 6, Quận 8, Hồ Chí Minh",2023-06-16,2023-07-01,8580,Quận 8,Đường Tạ Quang Bửu,48
4,35.0,120.0,5,4,"178A Đường Phan Đăng Lưu, Phường 3, Phú Nhuận,...",2023-03-16,2023-03-31,4467,Quận Phú Nhuận,Đường Phan Đăng Lưu,30

### **Tính giá trị thống kê để đánh giá trường hợp ngoại lệ**

In [24]:
# Lấy ra Diện tích > 0
df = df[df['Diện tích'] > 0]
# Lấy ra Giá > 0
df = df[df['Giá'] > 0]

# Tính các giá trị thống kê cơ bản của các cột
basic_stats = df[['Giá', 'Diện tích', 'Số phòng ngủ', 'Số toilet', 'Lượt xem']].describe()
pd.set_option('display.float_format', '{:.2f}'.format)
basic_stats

           Giá   Diện tích  Số phòng ngủ  Số toilet  Lượt xem
count 13710.00    13710.00      13710.00   13710.00  13710.00
mean     36.29     2935.52          2.63       2.39     47.69
std      51.91   232511.93          3.07       2.78     28.62
min       1.00        3.00          0.00       0.00      0.00
25%      16.00       60.00          0.00       0.00     27.00
50%      25.00       81.00          3.00       2.00     46.00
75%      37.00      120.00          4.00       4.00     64.00
max     987.00 19500000.00        170.00     171.00    728.00

## **Ngoại lệ được xử lý theo Z-score**

In [25]:
# Tính Z-score sử dụng dữ liệu từ basic_stats
numeric_df = df[['Giá', 'Diện tích', 'Số phòng ngủ', 'Số toilet', 'Lượt xem']]

# Lấy giá trị mean và std từ basic_stats
means = basic_stats.loc['mean']
stds = basic_stats.loc['std']

threshold = 3

# Tính Z-score cho mỗi cột
z_scores_from_basic_stats = (numeric_df - means) / stds

# Tìm vị trí của ngoại lệ (Z-score > 3 hoặc < -3)
outliers_from_basic_stats = np.where(np.abs(z_scores_from_basic_stats) > threshold)

# Lấy các dòng có chứa ít nhất một ngoại lệ
outlier_rows_from_basic_stats = df.iloc[outliers_from_basic_stats[0]]

df = df.drop(outlier_rows_from_basic_stats.index, axis=0)
df.shape

(13289, 11)

### **Với mỗi cột có kiểu dữ liệu số, các giá trị được phân bổ như thế nào?**


Đối với các cột có kiểu dữ liệu số, bạn sẽ tính:
- Tỷ lệ phần trăm (từ 0 đến 100) giá trị bị thiếu
- The min
- The lower quartile (phân vị 25)
- The median (phân vị 50)
- The upper quartile (phân vị 75)
- The max

In [26]:
num_col_info_df = None
num_col_info_df = df.select_dtypes(include=['number'])

# Hàm tính missing_ratio (tỷ lệ thiếu)
def missing_ratio(x):
    return (x.isnull().mean() * 100)

# Hàm tính lower quartile (phân vị 25)
def lower_quartile(x):
    return x.quantile(0.25)

# Hàm tính median (phân vị 50)
def median(x):
    return x.quantile(0.5)

# Hàm tính upper quartile (phân vị 75)
def upper_quartile(x):
    return x.quantile(0.75)

num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])
num_col_info_df = num_col_info_df.round(1)
num_col_info_df

                  Giá  Diện tích  Số phòng ngủ  Số toilet   Mã tin  Lượt xem
missing_ratio    0.00       0.00          0.00       0.00     0.00      0.00
min              1.00       3.00          0.00       0.00  1467.00      0.00
lower_quartile  16.00      60.00          0.00       0.00  6859.00     27.00
median          25.00      80.00          3.00       2.00 11608.00     46.00
upper_quartile  35.00     120.00          4.00       4.00 15369.00     64.00
max            192.00   15000.00         11.00      10.00 20181.00    133.00


### Với mỗi cột có kiểu dữ liệu không phải số, các giá trị được phân bổ như thế nào?

Đối với các cột có kiểu dữ liệu không phải số, bạn tính:
- Tỷ lệ phần trăm (từ 0 đến 100) giá trị bị thiếu
- Số lượng giá trị (các giá trị khác nhau không tính bị thiếu)
- Tỷ lệ phần trăm (từ 0 đến 100) của mỗi giá trị được sắp xếp theo tỷ lệ phần trăm giảm dần (không xét giá trị thiếu, tỷ lệ là tỷ lệ so với số giá trị không thiếu)

In [27]:
pd.set_option('display.max_colwidth', 100) # For clearly
pd.set_option('display.max_columns', None) # For clearly

In [28]:
cat_col_info_df = df.select_dtypes(exclude=['number'])
cat_col_info_df

# Hàm để tính tỷ lệ còn thiếu
def missing_ratio(x):
    return (x.isnull().mean() * 100).round(1)

# Hàm để tính số lượng giá trị duy nhất (đếm các giá trị không thiếu)
def num_values(x):
    return len(x.dropna().unique())

# Hàm để tính các tỷ lệ giá trị
def value_ratios(x):
    # Tạo một Series với tỷ lệ xuất hiện của từng giá trị
    value_counts = x.value_counts(normalize=True)

    # Sắp xếp theo tỷ lệ giảm dần
    sorted_value_counts = value_counts.sort_values(ascending=False)
    
    # Lưu vào từ điển
    value_ratios = {value: round(percentage * 100,1) for value, percentage in sorted_value_counts.items()}
    
    return value_ratios

# Gán DataFrame mới để lưu kết quả

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,Địa chỉ nhà,Ngày đăng tin,Ngày hết hạn,Quận,Đường
missing_ratio,0.00,0.00,0.00,0.00,0.00
num_values,6826,302,302,23,1018
value_ratios,"{'Đường Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí Minh': 0.5, 'Đường Bạch Đằng, Phường 2, Tân Bình...","{2023-08-07 00:00:00: 1.3, 2023-07-17 00:00:00: 1.2, 2023-07-18 00:00:00: 1.2, 2023-07-14 00:00:...","{2023-08-22 00:00:00: 1.3, 2023-08-01 00:00:00: 1.2, 2023-08-02 00:00:00: 1.2, 2023-07-29 00:00:...","{'Quận Tân Bình': 19.0, 'Quận Phú Nhuận': 18.2, 'Quận 10': 10.9, 'Quận 3': 10.7, 'Quận Bình Thạn...","{'Đường Lê Văn Sỹ': 3.5, 'Đường Cách Mạng Tháng Tám': 2.8, 'Đường Huỳnh Văn Bánh': 2.2, 'Đường 3..."

In [29]:
print(f"- Tổng các cột (các loại dữ liệu có thể khai thác): {df.shape[1]}")
df.dtypes

- Tổng các cột (các loại dữ liệu có thể khai thác): 11

Giá                     float64
Diện tích               float64
Số phòng ngủ              int64
Số toilet                 int64
Địa chỉ nhà              object
Ngày đăng tin    datetime64[ns]
Ngày hết hạn     datetime64[ns]
Mã tin                    int64
Quận                     object
Đường                    object
Lượt xem                  int64
dtype: object

In [30]:
df.shape

(13289, 11)

In [31]:
# lưu vào kq.csv
df.to_csv('preproces_data.csv', index=False)