<div style="text-align: center; background-color: #559cff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final Project - Introduction To Data Science @ FIT-HCMUS, VNU-HCM üìå
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Preprocessing
</div>

# Import

In [26]:
import numpy as np
import pandas as pd

# YOUR CODE HERE (OPTION) 
# If you need other libraries, you can import them here

## Exploring your data
### ƒê·ªçc file data

In [27]:
file_path = "../data/raw/rental_housing_in_HCM_city.csv"
df = pd.read_csv(file_path)

In [28]:
df.head()

,Gi√°,Di·ªán t√≠ch,S·ªë ph√≤ng ng·ªß,S·ªë toilet,H∆∞·ªõng nh√†,ƒê·ªãa ch·ªâ nh√†,Ng√†y ƒëƒÉng tin,Ng√†y h·∫øt h·∫°n,M√£ tin,Qu·∫≠n,ƒê∆∞·ªùng,L∆∞·ª£t xem
0,6.5 Tri·ªáu/Th√°ng,14 m¬≤,0 PN,0,---,"ƒê·ªãa ch·ªâ: D·ª± √°n The Prince Residence, ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Tr·ªói, Ph∆∞·ªùng 12, Ph√∫ Nhu·∫≠n, H·ªì Ch√≠ Minh",23/06/2023,08/07/2023,9122,Qu·∫≠n Ph√∫ Nhu·∫≠n,ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Tr·ªói,L∆∞·ª£t xem: 35
1,8 Tri·ªáu/Th√°ng,68 m¬≤,2 PN,2,---,"ƒê·ªãa ch·ªâ: D·ª± √°n Q7 Saigon Riverside, ƒê∆∞·ªùng ƒê√†o Tr√≠, Ph∆∞·ªùng Ph√∫ Thu·∫≠n, Qu·∫≠n 7, H·ªì Ch√≠ Minh",16/06/2023,01/07/2023,8478,Qu·∫≠n 7,ƒê∆∞·ªùng ƒê√†o Tr√≠,L∆∞·ª£t xem: 74
2,1.3 Tri·ªáu/Th√°ng,30 m¬≤,0 PN,0,---,"ƒê·ªãa ch·ªâ: ƒê∆∞·ªùng D5, Ph∆∞·ªùng 25, B√¨nh Th·∫°nh, H·ªì Ch√≠ Minh",07/08/2023,22/08/2023,11591,Qu·∫≠n B√¨nh Th·∫°nh,ƒê∆∞·ªùng D5,L∆∞·ª£t xem: 88
3,10 Tri·ªáu/Th√°ng,80 m¬≤,2 PN,2,---,"ƒê·ªãa ch·ªâ: ƒê∆∞·ªùng T·∫° Quang B·ª≠u, Ph∆∞·ªùng 6, Qu·∫≠n 8, H·ªì Ch√≠ Minh",16/06/2023,01/07/2023,8580,Qu·∫≠n 8,ƒê∆∞·ªùng T·∫° Quang B·ª≠u,L∆∞·ª£t xem: 48
4,35 Tri·ªáu/Th√°ng,120 m¬≤,5 PN,4,---,"ƒê·ªãa ch·ªâ: 178A ƒê∆∞·ªùng Phan ƒêƒÉng L∆∞u, Ph∆∞·ªùng 3, Ph√∫ Nhu·∫≠n, H·ªì Ch√≠ Minh",16/03/2023,31/03/2023,4467,Qu·∫≠n Ph√∫ Nhu·∫≠n,ƒê∆∞·ªùng Phan ƒêƒÉng L∆∞u,L∆∞·ª£t xem: 30

### C√≥ bao nhi√™u c·ªôt v√† d√≤ng ?

In [29]:
shape = None 
shape = df.shape
print("- S·ªë d√≤ng:", shape[0])
print("- S·ªë c·ªôt:", shape[1])

- S·ªë d√≤ng: 14890
- S·ªë c·ªôt: 12

In [30]:
print(f"- Shape c·ªßa dataframe: {shape}")

if shape[0] > 1000:
    print(f"- Data t·ªët.")
else:
    print(f"- Data nh·ªè.")

- Shape c·ªßa dataframe: (14890, 12)
- Data t·ªët.

### M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨? C√≥ v·∫•n ƒë·ªÅ g√¨ n·∫øu c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau?

- M·ªói d√≤ng trong b·ªô d·ªØ li·ªáu l√† th√¥ng tin v·ªÅ m·ªôt cƒÉn nh√† cho thu√™ ri√™ng bi·ªát ·ªü TP. H·ªì Ch√≠ Minh, bao g·ªìm gi√°, di·ªán t√≠ch, v√† ƒë·ªãa ch·ªâ. S·ª± kh√°c bi·ªát gi·ªØa c√°c d√≤ng l√† quan tr·ªçng v√¨ n√≥ ph·∫£n √°nh s·ª± ƒëa d·∫°ng c·ªßa th·ªã tr∆∞·ªùng cho thu√™ nh√†.

### **Check c√°c d√≤ng tr√πng l·∫∑p**

In [31]:
num_duplicated_rows = None
# Ki·ªÉm tra c√°c d√≤ng tr√πng l·∫∑p
num_duplicated_rows = df.duplicated().sum()

In [32]:
if num_duplicated_rows == 0:
    print(f"- Data kh√¥ng c√≥ d√≤ng tr√πng l·∫∑p.")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"- Data c√≥ {num_duplicated_rows} {ext} tr√πng l·∫∑p.")

- Data kh√¥ng c√≥ d√≤ng tr√πng l·∫∑p.

### M·ªói c·ªôt c√≥ √Ω nghƒ©a g√¨?

- **Gi√°:** Gi√° thu√™ h√†ng th√°ng.
- **Di·ªán t√≠ch:** Di·ªán t√≠ch c·ªßa b·∫•t ƒë·ªông s·∫£n cho thu√™, t√≠nh b·∫±ng m√©t vu√¥ng.
- **S·ªë ph√≤ng ng·ªß:** S·ªë l∆∞·ª£ng ph√≤ng ng·ªß trong b·∫•t ƒë·ªông s·∫£n.
- **S·ªë toilet:** S·ªë l∆∞·ª£ng nh√† v·ªá sinh trong b·∫•t ƒë·ªông s·∫£n.
- **H∆∞·ªõng nh√†:** H∆∞·ªõng c·ªßa ng√¥i nh√†.
- **ƒê·ªãa ch·ªâ nh√†:** ƒê·ªãa ch·ªâ c·ªßa b·∫•t ƒë·ªông s·∫£n.
- **Ng√†y ƒëƒÉng tin:** Ng√†y tin ƒëƒÉng ƒë∆∞·ª£c ƒëƒÉng.
- **Ng√†y h·∫øt h·∫°n:** Ng√†y h·∫øt h·∫°n c·ªßa tin ƒëƒÉng.
- **M√£ tin:** M√£ ƒë·ªãnh danh duy nh·∫•t c·ªßa tin ƒëƒÉng.
- **Qu·∫≠n:** Qu·∫≠n n∆°i b·∫•t ƒë·ªông s·∫£n t·ªça l·∫°c.
- **ƒê∆∞·ªùng:** ƒê∆∞·ªùng n∆°i b·∫•t ƒë·ªông s·∫£n t·ªça l·∫°c.
- **L∆∞·ª£t xem:** S·ªë l∆∞·ª£t xem c·ªßa tin ƒëƒÉng.

## **Check xem data c√≥ bao nhi√™u gi√° tr·ªã b·ªã thi·∫øu?**

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14890 entries, 0 to 14889
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gi√°            14890 non-null  object
 1   Di·ªán t√≠ch      14890 non-null  object
 2   S·ªë ph√≤ng ng·ªß   14890 non-null  object
 3   S·ªë toilet      14890 non-null  int64
 4   H∆∞·ªõng nh√†      14890 non-null  object
 5   ƒê·ªãa ch·ªâ nh√†    14890 non-null  object
 6   Ng√†y ƒëƒÉng tin  14890 non-null  object
 7   Ng√†y h·∫øt h·∫°n   14890 non-null  object
 8   M√£ tin         14890 non-null  int64
 9   Qu·∫≠n           14890 non-null  object
 10  ƒê∆∞·ªùng          14854 non-null  object
 11  L∆∞·ª£t xem       14890 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.4+ MB

### **Lo·∫°i c·ªßa c√°c c·ªôt**

In [34]:
dtypes = None
dtypes = df.dtypes
dtypes

Gi√°              object
Di·ªán t√≠ch        object
S·ªë ph√≤ng ng·ªß     object
S·ªë toilet         int64
H∆∞·ªõng nh√†        object
ƒê·ªãa ch·ªâ nh√†      object
Ng√†y ƒëƒÉng tin    object
Ng√†y h·∫øt h·∫°n     object
M√£ tin            int64
Qu·∫≠n             object
ƒê∆∞·ªùng            object
L∆∞·ª£t xem         object
dtype: object


### **X·ª≠ l√Ω c√°c ki·ªÉu gi√° tr·ªã c·ªßa b·ªô data theo mong mu·ªën**

In [35]:
# Gi·ªØ l·∫°i s·ªë 
df['Gi√°'] = df['Gi√°'].str.extract('(\d+\.*\d*)').astype(float)

# Gi·ªØ l·∫°i s·ªë
df['Di·ªán t√≠ch'] = df['Di·ªán t√≠ch'].str.extract('(\d+\.*\d*)').astype(float)

# Gi·ªØ l·∫°i s·ªë
df['S·ªë ph√≤ng ng·ªß'] = df['S·ªë ph√≤ng ng·ªß'].str.extract('(\d+)').astype(int)

# Xo√° ch·ªØ ƒê·ªãa ch·ªâ:  v√† gi·ªØ l·∫°i ph·∫ßn c√≤n l·∫°i
df['ƒê·ªãa ch·ªâ nh√†'] = df['ƒê·ªãa ch·ªâ nh√†'].str.replace('ƒê·ªãa ch·ªâ:\s+', '', regex=True)

# Gi·ªØ l·∫°i s·ªë
df['L∆∞·ª£t xem'] = df['L∆∞·ª£t xem'].str.extract('(\d+)').astype(int)

In [36]:
# ƒê·ªïi ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c c·ªôt ng√†y th√°ng sang datetime
df['Ng√†y ƒëƒÉng tin'] = pd.to_datetime(df['Ng√†y ƒëƒÉng tin'], format='%d/%m/%Y')
df['Ng√†y h·∫øt h·∫°n'] = pd.to_datetime(df['Ng√†y h·∫øt h·∫°n'], format='%d/%m/%Y')

In [37]:
df.dtypes

Gi√°                     float64
Di·ªán t√≠ch               float64
S·ªë ph√≤ng ng·ªß              int64
S·ªë toilet                 int64
H∆∞·ªõng nh√†                object
ƒê·ªãa ch·ªâ nh√†              object
Ng√†y ƒëƒÉng tin    datetime64[ns]
Ng√†y h·∫øt h·∫°n     datetime64[ns]
M√£ tin                    int64
Qu·∫≠n                     object
ƒê∆∞·ªùng                    object
L∆∞·ª£t xem                  int64
dtype: object

In [38]:
df.head()

,Gi√°,Di·ªán t√≠ch,S·ªë ph√≤ng ng·ªß,S·ªë toilet,H∆∞·ªõng nh√†,ƒê·ªãa ch·ªâ nh√†,Ng√†y ƒëƒÉng tin,Ng√†y h·∫øt h·∫°n,M√£ tin,Qu·∫≠n,ƒê∆∞·ªùng,L∆∞·ª£t xem
0,6.50,14.00,0,0,---,"D·ª± √°n The Prince Residence, ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Tr·ªói, Ph∆∞·ªùng 12, Ph√∫ Nhu·∫≠n, H·ªì Ch√≠ Minh",2023-06-23,2023-07-08,9122,Qu·∫≠n Ph√∫ Nhu·∫≠n,ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Tr·ªói,35
1,8.00,68.00,2,2,---,"D·ª± √°n Q7 Saigon Riverside, ƒê∆∞·ªùng ƒê√†o Tr√≠, Ph∆∞·ªùng Ph√∫ Thu·∫≠n, Qu·∫≠n 7, H·ªì Ch√≠ Minh",2023-06-16,2023-07-01,8478,Qu·∫≠n 7,ƒê∆∞·ªùng ƒê√†o Tr√≠,74
2,1.30,30.00,0,0,---,"ƒê∆∞·ªùng D5, Ph∆∞·ªùng 25, B√¨nh Th·∫°nh, H·ªì Ch√≠ Minh",2023-08-07,2023-08-22,11591,Qu·∫≠n B√¨nh Th·∫°nh,ƒê∆∞·ªùng D5,88
3,10.00,80.00,2,2,---,"ƒê∆∞·ªùng T·∫° Quang B·ª≠u, Ph∆∞·ªùng 6, Qu·∫≠n 8, H·ªì Ch√≠ Minh",2023-06-16,2023-07-01,8580,Qu·∫≠n 8,ƒê∆∞·ªùng T·∫° Quang B·ª≠u,48
4,35.00,120.00,5,4,---,"178A ƒê∆∞·ªùng Phan ƒêƒÉng L∆∞u, Ph∆∞·ªùng 3, Ph√∫ Nhu·∫≠n, H·ªì Ch√≠ Minh",2023-03-16,2023-03-31,4467,Qu·∫≠n Ph√∫ Nhu·∫≠n,ƒê∆∞·ªùng Phan ƒêƒÉng L∆∞u,30

### **Fill data**

In [39]:
# C·ªôt H∆∞·ªõng nh√† n·∫øu --- th√¨ ƒë·ªïi th√†nh None
df['H∆∞·ªõng nh√†'] = df['H∆∞·ªõng nh√†'].replace('---', None)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14890 entries, 0 to 14889
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gi√°            14890 non-null  float64
 1   Di·ªán t√≠ch      14890 non-null  float64
 2   S·ªë ph√≤ng ng·ªß   14890 non-null  int64
 3   S·ªë toilet      14890 non-null  int64
 4   H∆∞·ªõng nh√†      442 non-null    object
 5   ƒê·ªãa ch·ªâ nh√†    14890 non-null  object
 6   Ng√†y ƒëƒÉng tin  14890 non-null  datetime64[ns]
 7   Ng√†y h·∫øt h·∫°n   14890 non-null  datetime64[ns]
 8   M√£ tin         14890 non-null  int64
 9   Qu·∫≠n           14890 non-null  object
 10  ƒê∆∞·ªùng          14854 non-null  object
 11  L∆∞·ª£t xem       14890 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(4)
memory usage: 1.4+ MB

### **X·ª≠ l√Ω c√°c gi√° tr·ªã b·ªã thi·∫øu**
- **Drop ƒëi c√°c c·ªôt c√≥ t·ª∑ l·ªá thi·∫øu > 50%**

In [41]:
# H√†m drop c√°c c·ªôt c√≥ t·ª∑ l·ªá thi·∫øu > 50%
def drop_cols(df):
    # T√≠nh t·ª∑ l·ªá thi·∫øu
    missing_ratios = df.isnull().mean()
    
    # L·∫•y t√™n c√°c c·ªôt c√≥ t·ª∑ l·ªá thi·∫øu > 50%
    missing_cols = missing_ratios[missing_ratios > 0.5].index
    
    # X√≥a c√°c c·ªôt
    df = df.drop(columns=missing_cols)
    
    return df

# YOUR CODE HERE
df = drop_cols(df)
print(f"- S·ªë d√≤ng: {df.shape[0]}")
print(f"- S·ªë c·ªôt: {df.shape[1]}")
df.head()

- S·ªë d√≤ng: 14890
- S·ªë c·ªôt: 11

,Gi√°,Di·ªán t√≠ch,S·ªë ph√≤ng ng·ªß,S·ªë toilet,ƒê·ªãa ch·ªâ nh√†,Ng√†y ƒëƒÉng tin,Ng√†y h·∫øt h·∫°n,M√£ tin,Qu·∫≠n,ƒê∆∞·ªùng,L∆∞·ª£t xem
0,6.50,14.00,0,0,"D·ª± √°n The Prince Residence, ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Tr·ªói, Ph∆∞·ªùng 12, Ph√∫ Nhu·∫≠n, H·ªì Ch√≠ Minh",2023-06-23,2023-07-08,9122,Qu·∫≠n Ph√∫ Nhu·∫≠n,ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Tr·ªói,35
1,8.00,68.00,2,2,"D·ª± √°n Q7 Saigon Riverside, ƒê∆∞·ªùng ƒê√†o Tr√≠, Ph∆∞·ªùng Ph√∫ Thu·∫≠n, Qu·∫≠n 7, H·ªì Ch√≠ Minh",2023-06-16,2023-07-01,8478,Qu·∫≠n 7,ƒê∆∞·ªùng ƒê√†o Tr√≠,74
2,1.30,30.00,0,0,"ƒê∆∞·ªùng D5, Ph∆∞·ªùng 25, B√¨nh Th·∫°nh, H·ªì Ch√≠ Minh",2023-08-07,2023-08-22,11591,Qu·∫≠n B√¨nh Th·∫°nh,ƒê∆∞·ªùng D5,88
3,10.00,80.00,2,2,"ƒê∆∞·ªùng T·∫° Quang B·ª≠u, Ph∆∞·ªùng 6, Qu·∫≠n 8, H·ªì Ch√≠ Minh",2023-06-16,2023-07-01,8580,Qu·∫≠n 8,ƒê∆∞·ªùng T·∫° Quang B·ª≠u,48
4,35.00,120.00,5,4,"178A ƒê∆∞·ªùng Phan ƒêƒÉng L∆∞u, Ph∆∞·ªùng 3, Ph√∫ Nhu·∫≠n, H·ªì Ch√≠ Minh",2023-03-16,2023-03-31,4467,Qu·∫≠n Ph√∫ Nhu·∫≠n,ƒê∆∞·ªùng Phan ƒêƒÉng L∆∞u,30

- **Drop c√°c d√≤ng b·ªã thi·∫øu t√™n ƒë∆∞·ªùng**

In [42]:
# H√†m drop c√°c d√≤ng c√≥ gi√° tr·ªã ƒê∆∞·ªùng null
def drop_rows(df):
    # L·∫•y c√°c d√≤ng c√≥ gi√° tr·ªã ƒê∆∞·ªùng null
    missing_rows = df[df['ƒê∆∞·ªùng'].isnull()].index
    
    # X√≥a c√°c d√≤ng
    df = df.drop(index=missing_rows)
    
    return df

df = drop_rows(df)
df.head()

,Gi√°,Di·ªán t√≠ch,S·ªë ph√≤ng ng·ªß,S·ªë toilet,ƒê·ªãa ch·ªâ nh√†,Ng√†y ƒëƒÉng tin,Ng√†y h·∫øt h·∫°n,M√£ tin,Qu·∫≠n,ƒê∆∞·ªùng,L∆∞·ª£t xem
0,6.50,14.00,0,0,"D·ª± √°n The Prince Residence, ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Tr·ªói, Ph∆∞·ªùng 12, Ph√∫ Nhu·∫≠n, H·ªì Ch√≠ Minh",2023-06-23,2023-07-08,9122,Qu·∫≠n Ph√∫ Nhu·∫≠n,ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Tr·ªói,35
1,8.00,68.00,2,2,"D·ª± √°n Q7 Saigon Riverside, ƒê∆∞·ªùng ƒê√†o Tr√≠, Ph∆∞·ªùng Ph√∫ Thu·∫≠n, Qu·∫≠n 7, H·ªì Ch√≠ Minh",2023-06-16,2023-07-01,8478,Qu·∫≠n 7,ƒê∆∞·ªùng ƒê√†o Tr√≠,74
2,1.30,30.00,0,0,"ƒê∆∞·ªùng D5, Ph∆∞·ªùng 25, B√¨nh Th·∫°nh, H·ªì Ch√≠ Minh",2023-08-07,2023-08-22,11591,Qu·∫≠n B√¨nh Th·∫°nh,ƒê∆∞·ªùng D5,88
3,10.00,80.00,2,2,"ƒê∆∞·ªùng T·∫° Quang B·ª≠u, Ph∆∞·ªùng 6, Qu·∫≠n 8, H·ªì Ch√≠ Minh",2023-06-16,2023-07-01,8580,Qu·∫≠n 8,ƒê∆∞·ªùng T·∫° Quang B·ª≠u,48
4,35.00,120.00,5,4,"178A ƒê∆∞·ªùng Phan ƒêƒÉng L∆∞u, Ph∆∞·ªùng 3, Ph√∫ Nhu·∫≠n, H·ªì Ch√≠ Minh",2023-03-16,2023-03-31,4467,Qu·∫≠n Ph√∫ Nhu·∫≠n,ƒê∆∞·ªùng Phan ƒêƒÉng L∆∞u,30

### **T√≠nh gi√° tr·ªã th·ªëng k√™ ƒë·ªÉ ƒë√°nh gi√° tr∆∞·ªùng h·ª£p ngo·∫°i l·ªá**

In [43]:
# L·∫•y ra Di·ªán t√≠ch > 0
df = df[df['Di·ªán t√≠ch'] > 0]
# L·∫•y ra Gi√° > 0
df = df[df['Gi√°'] > 0]

# T√≠nh c√°c gi√° tr·ªã th·ªëng k√™ c∆° b·∫£n c·ªßa c√°c c·ªôt
basic_stats = df[['Gi√°', 'Di·ªán t√≠ch', 'S·ªë ph√≤ng ng·ªß', 'S·ªë toilet', 'L∆∞·ª£t xem']].describe()
pd.set_option('display.float_format', '{:.2f}'.format)
basic_stats

           Gi√°   Di·ªán t√≠ch  S·ªë ph√≤ng ng·ªß  S·ªë toilet  L∆∞·ª£t xem
count 13710.00    13710.00      13710.00   13710.00  13710.00
mean     36.29     2935.52          2.63       2.39     47.69
std      51.91   232511.93          3.07       2.78     28.62
min       1.00        3.00          0.00       0.00      0.00
25%      16.00       60.00          0.00       0.00     27.00
50%      25.00       81.00          3.00       2.00     46.00
75%      37.00      120.00          4.00       4.00     64.00
max     987.00 19500000.00        170.00     171.00    728.00

## **Ngo·∫°i l·ªá ƒë∆∞·ª£c x·ª≠ l√Ω theo Z-score**

In [44]:
# T√≠nh Z-score s·ª≠ d·ª•ng d·ªØ li·ªáu t·ª´ basic_stats
numeric_df = df[['Gi√°', 'Di·ªán t√≠ch', 'S·ªë ph√≤ng ng·ªß', 'S·ªë toilet', 'L∆∞·ª£t xem']]

# L·∫•y gi√° tr·ªã mean v√† std t·ª´ basic_stats
means = basic_stats.loc['mean']
stds = basic_stats.loc['std']

threshold = 3

# T√≠nh Z-score cho m·ªói c·ªôt
z_scores_from_basic_stats = (numeric_df - means) / stds

# T√¨m v·ªã tr√≠ c·ªßa ngo·∫°i l·ªá (Z-score > 3 ho·∫∑c < -3)
outliers_from_basic_stats = np.where(np.abs(z_scores_from_basic_stats) > threshold)

# L·∫•y c√°c d√≤ng c√≥ ch·ª©a √≠t nh·∫•t m·ªôt ngo·∫°i l·ªá
outlier_rows_from_basic_stats = df.iloc[outliers_from_basic_stats[0]]

df = df.drop(outlier_rows_from_basic_stats.index, axis=0)
df.shape

(13289, 11)

### **V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu s·ªë, c√°c gi√° tr·ªã ƒë∆∞·ª£c ph√¢n b·ªï nh∆∞ th·∫ø n√†o?**


ƒê·ªëi v·ªõi c√°c c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu s·ªë, b·∫°n s·∫Ω t√≠nh:
- T·ª∑ l·ªá ph·∫ßn trƒÉm (t·ª´ 0 ƒë·∫øn 100) gi√° tr·ªã b·ªã thi·∫øu
- The min
- The lower quartile (ph√¢n v·ªã 25)
- The median (ph√¢n v·ªã 50)
- The upper quartile (ph√¢n v·ªã 75)
- The max

In [45]:
num_col_info_df = None
num_col_info_df = df.select_dtypes(include=['number'])

# H√†m t√≠nh missing_ratio (t·ª∑ l·ªá thi·∫øu)
def missing_ratio(x):
    return (x.isnull().mean() * 100)

# H√†m t√≠nh lower quartile (ph√¢n v·ªã 25)
def lower_quartile(x):
    return x.quantile(0.25)

# H√†m t√≠nh median (ph√¢n v·ªã 50)
def median(x):
    return x.quantile(0.5)

# H√†m t√≠nh upper quartile (ph√¢n v·ªã 75)
def upper_quartile(x):
    return x.quantile(0.75)

num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])
num_col_info_df = num_col_info_df.round(1)
num_col_info_df

                  Gi√°  Di·ªán t√≠ch  S·ªë ph√≤ng ng·ªß  S·ªë toilet   M√£ tin  L∆∞·ª£t xem
missing_ratio    0.00       0.00          0.00       0.00     0.00      0.00
min              1.00       3.00          0.00       0.00  1467.00      0.00
lower_quartile  16.00      60.00          0.00       0.00  6859.00     27.00
median          25.00      80.00          3.00       2.00 11608.00     46.00
upper_quartile  35.00     120.00          4.00       4.00 15369.00     64.00
max            192.00   15000.00         11.00      10.00 20181.00    133.00


### V·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu kh√¥ng ph·∫£i s·ªë, c√°c gi√° tr·ªã ƒë∆∞·ª£c ph√¢n b·ªï nh∆∞ th·∫ø n√†o?

ƒê·ªëi v·ªõi c√°c c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu kh√¥ng ph·∫£i s·ªë, b·∫°n t√≠nh:
- T·ª∑ l·ªá ph·∫ßn trƒÉm (t·ª´ 0 ƒë·∫øn 100) gi√° tr·ªã b·ªã thi·∫øu
- S·ªë l∆∞·ª£ng gi√° tr·ªã (c√°c gi√° tr·ªã kh√°c nhau kh√¥ng t√≠nh b·ªã thi·∫øu)
- T·ª∑ l·ªá ph·∫ßn trƒÉm (t·ª´ 0 ƒë·∫øn 100) c·ªßa m·ªói gi√° tr·ªã ƒë∆∞·ª£c s·∫Øp x·∫øp theo t·ª∑ l·ªá ph·∫ßn trƒÉm gi·∫£m d·∫ßn (kh√¥ng x√©t gi√° tr·ªã thi·∫øu, t·ª∑ l·ªá l√† t·ª∑ l·ªá so v·ªõi s·ªë gi√° tr·ªã kh√¥ng thi·∫øu)

In [46]:
pd.set_option('display.max_colwidth', 100) # For clearly
pd.set_option('display.max_columns', None) # For clearly

In [47]:
cat_col_info_df = df.select_dtypes(exclude=['number'])
cat_col_info_df

# H√†m ƒë·ªÉ t√≠nh t·ª∑ l·ªá c√≤n thi·∫øu
def missing_ratio(x):
    return (x.isnull().mean() * 100).round(1)

# H√†m ƒë·ªÉ t√≠nh s·ªë l∆∞·ª£ng gi√° tr·ªã duy nh·∫•t (ƒë·∫øm c√°c gi√° tr·ªã kh√¥ng thi·∫øu)
def num_values(x):
    return len(x.dropna().unique())

# H√†m ƒë·ªÉ t√≠nh c√°c t·ª∑ l·ªá gi√° tr·ªã
def value_ratios(x):
    # T·∫°o m·ªôt Series v·ªõi t·ª∑ l·ªá xu·∫•t hi·ªán c·ªßa t·ª´ng gi√° tr·ªã
    value_counts = x.value_counts(normalize=True)

    # S·∫Øp x·∫øp theo t·ª∑ l·ªá gi·∫£m d·∫ßn
    sorted_value_counts = value_counts.sort_values(ascending=False)
    
    # L∆∞u v√†o t·ª´ ƒëi·ªÉn
    value_ratios = {value: round(percentage * 100,1) for value, percentage in sorted_value_counts.items()}
    
    return value_ratios

# G√°n DataFrame m·ªõi ƒë·ªÉ l∆∞u k·∫øt qu·∫£

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,ƒê·ªãa ch·ªâ nh√†,Ng√†y ƒëƒÉng tin,Ng√†y h·∫øt h·∫°n,Qu·∫≠n,ƒê∆∞·ªùng
missing_ratio,0.00,0.00,0.00,0.00,0.00
num_values,6826,302,302,23,1018
value_ratios,"{'ƒê∆∞·ªùng S∆∞ V·∫°n H·∫°nh, Ph∆∞·ªùng 12, Qu·∫≠n 10, H·ªì Ch√≠ Minh': 0.5, 'ƒê∆∞·ªùng B·∫°ch ƒê·∫±ng, Ph∆∞·ªùng 2, T√¢n B√¨nh...","{2023-08-07 00:00:00: 1.3, 2023-07-17 00:00:00: 1.2, 2023-07-18 00:00:00: 1.2, 2023-07-14 00:00:...","{2023-08-22 00:00:00: 1.3, 2023-08-01 00:00:00: 1.2, 2023-08-02 00:00:00: 1.2, 2023-07-29 00:00:...","{'Qu·∫≠n T√¢n B√¨nh': 19.0, 'Qu·∫≠n Ph√∫ Nhu·∫≠n': 18.2, 'Qu·∫≠n 10': 10.9, 'Qu·∫≠n 3': 10.7, 'Qu·∫≠n B√¨nh Th·∫°n...","{'ƒê∆∞·ªùng L√™ VƒÉn S·ªπ': 3.5, 'ƒê∆∞·ªùng C√°ch M·∫°ng Th√°ng T√°m': 2.8, 'ƒê∆∞·ªùng Hu·ª≥nh VƒÉn B√°nh': 2.2, 'ƒê∆∞·ªùng 3..."

In [48]:
print(f"- T·ªïng c√°c c·ªôt (c√°c lo·∫°i d·ªØ li·ªáu c√≥ th·ªÉ khai th√°c): {df.shape[1]}")
df.dtypes

- T·ªïng c√°c c·ªôt (c√°c lo·∫°i d·ªØ li·ªáu c√≥ th·ªÉ khai th√°c): 11

Gi√°                     float64
Di·ªán t√≠ch               float64
S·ªë ph√≤ng ng·ªß              int64
S·ªë toilet                 int64
ƒê·ªãa ch·ªâ nh√†              object
Ng√†y ƒëƒÉng tin    datetime64[ns]
Ng√†y h·∫øt h·∫°n     datetime64[ns]
M√£ tin                    int64
Qu·∫≠n                     object
ƒê∆∞·ªùng                    object
L∆∞·ª£t xem                  int64
dtype: object

In [49]:
df.shape

(13289, 11)

In [50]:
# l∆∞u v√†o kq.csv
df.to_csv('preproces_data.csv', index=False)